.container {
	max-width: 1170px;
	padding: 0px 15px;
	margin: 0 auto;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}

.header__contacts {
	background-color: #262829;
}
.header__row {
	margin-left: 60%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #727779;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 400;
	line-height: 36px;
	text-transform: uppercase;
}
.header__email {
	color: #ffffff;
	letter-spacing: 0.6px;
}
.header__email span {
	color: #a2a5a6;
	letter-spacing: 0.6px;
}
.header__stick {
	width: 1px;
	height: 40px;
	background-color: #505253;
	margin: 0px 20px;
}
.header__phone {
	color: #ffffff;
	letter-spacing: 0.6px;
}
.header__phone span {
	color: #a2a5a6;
	letter-spacing: 0.6px;
}

.header__nav {
	background-color: #fff;
	padding: 30px 0px;
}
.header__navrow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header__logo {
	width: 149px;
	height: 42px;
	position: relative;
	z-index: 2;
}
.header__logo img {
	max-width: 100%;
}

.nav__menu2 {
	display: none;
}
.nav__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.nav__list > li {
	list-style: none;
	margin: 0px 0px 0px 35px;
}
.nav__link {
	color: #4e4e4e;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.nav__link:hover {
	color: #ffac55;
}

.home {
	background-image: url(../img/Layer_12.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	margin: 140px 0px 0px 0px;
}
.home__content {
	padding: 176px 0px 57px 0px;
}
.home__box {
	position: relative;
	max-width: 458px;
	max-height: 476px;
}
.home__yellow {
	max-width: 100%;
	max-height: 100%;
	background-color: #ffac56;
}
.home__text_yellow {
	color: #ffffff;
	font-family: Montserrat;
	font-weight: 400;
	line-height: 36px;
	text-transform: uppercase;
	padding: 35px 66px 35px 39px;
	font-size: calc(14px + 12 * (100vw / 1230px));
}
.home__text_yellow span {
	font-family: Lato;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: -0.75px;
}
.home__text_blue {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: -0.14px;
}
.home__row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.home__blue {
	border: 1px solid #00a6d3;
	width: 229px;
	height: 128px;
	background-color: #03b6e7;
}
.home__icon {
	margin: 34px 0px 12px 40px;
}